* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 1300px;
  
}

h1 {
  text-align: center;
}

section {
  border: 1px solid black;
}

.color-panel-1 {
  background-color: black;
}
.color-panel-2 {
  background-color: blue;;
}
.color-panel-3 {
  background-color: violet;
}
.color-panel-4 {
  background-color: green;
}
