* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 1300px;
  max-width: 1300px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: left;;
  padding-bottom: 20px;
  font-size: 26px;
}

section {
  border: 1px solid black;
  padding: 20px;
  margin: 30px 0;
}

.colors div {
  display: inline-block;
  margin-left: 50px;
  text-align: center;
}

.color-panel-1 {
  background-color: #845EC2;
  padding: 30px;
  width: 250px;
  border: 2px dotted red;
}
.color-panel-2 {
  background-color: #B39CD0;
  padding: 30px;
  width: 250px;
  border: 2px dotted red;
}
.color-panel-3 {
  background-color: #FBEAFF;
  padding: 30px;
  width: 250px;
  border: 2px dotted red;
}
.color-panel-4 {
  background-color: #00C9A7;
  padding: 30px;
  width: 250px;
  border: 2px dotted red;
}

.fonts-panel-1 {
  font-family: monospace;
  font-size: 18px;
}

.mono-title {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}

.mono-italic {
  font-style: italic;
}

.mono-bold {
  font-weight: bold;
}

.fonts-panel-2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

.treb-title {
  font-size: 30px;
  text-decoration: underline;
  padding: 20px 0;
}

.treb-italic {
  font-style: italic;
}

.treb-bold {
  font-weight: bold;
}

.fonts-panel-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.arial-title {
  font-size: 30px;
  text-decoration: underline;
  padding: 20px 0;
}

.arial-italic {
  font-style: italic;
}

.arial-bold {
  font-weight: bold;
}

#h1-styles {
  text-align: left;
  padding-bottom: 20px;
  font-size: 30px;
}

#h2-styles {
  font-size: 22px;
  font-weight: 500;
}

#p-styles {

}

ul {
  padding-top: 10px;
  list-style: none;
  padding-bottom: 20px;
}

li {
  padding-left: 20px;
}

p {
  font-size: 18px;
}


